#!/usr/bin/env ruby

compile '/stylesheet.*' do
  write '/style.css'
end

compile '/**/*' do
  if item.binary?
    write item.identifier
  else
    filter :erb
    layout '/default.html'

    if item.identifier == "/index.erb"
      write item.identifier.with_ext('html')
    else
      write item.identifier.in_dir.with_ext('html')
    end
  end
end

layout '/**/*', :erb
