<!doctype html>
<html>
<head>
  <title>grande.js</title>
  <meta charset="utf-8">
  <meta name="description" content="grande.js: a way for you to express yourself">

  <link href="grande/css/menu.css" rel="stylesheet">
  <link href="grande/css/editor.css" rel="stylesheet">
</head>

<body class="g-body">

<section>
  <article class="content">
    <%= @page.content %>
  </article>

  <form action="/update" method="post">
    <input type="hidden" id="id" name="id" value="<%= @page.id %>">
    <textarea type="hidden" id="content" name="content" style="display: none;"></textarea>

    <button>Save</button>
  </form>
</section>

<script type="text/javascript" src="grande/js/grande.js"></script>
<script type="text/javascript">
    var article = document.querySelectorAll("article");

    grande.bind(article, {allowImages: true, animate: true});

    document.querySelector("button").addEventListener("click", function (e) {
        document.querySelector("#content").value = article[0].innerHTML;
      }
    );
</script>
</body>
</html>
