<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nana</a>
    </div>
  </div>
</div>

<div class="container">
  <h1>Pages</h1>
  <ul>
    <% @pages.each do |page| %>
        <li>
          <a href="/page/<%= page.id %>/edit"><%= page.title %> (<%= page.path %>)</a>
        </li>
    <% end %>
  </ul>
</div>
