<!doctype html>
<html>
<head>
  <title>pages</title>
  <meta charset="utf-8">
</head>

<body class="g-body">

<section>
  <article class="content">
    <h1>Pages</h1>
    <ul>
      <% @pages.each do |page| %>
          <li>
            <a href="/page/<%= page.id %>/edit"><%= page.title %> (<%= page.path %>)</a>
          </li>
      <% end %>
    </ul>
  </article>

</section>
</body>
</html>
